{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="section3"class="our-work">
        <h1>What we do</h1>
        <p>This paltform is a way to reach the ones who need your and our help so come join us to be a part of this small change to make a big diffrence
        <div class="work-row">
            <div class="work-col1">
                <h3>Small approach to reach everywhere</h3>
                <p>Our goal is to reach every needy who need our help and to reach every donor who want to help</p>
            </div>
            <div class="work-col2">
                <h3>Taking small step for big change</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis pariatur neque corrupti minus sapiente ad sed non adipisci aperiam.</p>
            </div>
        </div>
        </p>
    </section>
</body>
</html>