{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="{% static 'css/style.css' %}">
</head>
<body>
    
    <section class="donate" id="section2">
        
        <h1>Charities to be done</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem nisi eius odit aliquid culpa eum voluptatibus dolorem. Repudiandae, corrupti voluptatibus?</p>
        <div class="row">
            {% for data in fund %}
            <div class="charity-col">
                <input type="hidden" >
                <h3>{{data.cause}}</h3>
                <p>{{data.cause_description}}</p>
                <a href="{% url 'donate_form' data.id %}" id={{data.id}}  name ="id" class="d-btn">Donate</a>
 
            </div>
            {% endfor %}  
         </div>
    </section>
       
</body>
</html>






